.accounts {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 80px;
  margin-bottom: 150px;
  &__heading {
    max-width: 480px;
    width: 100%;
    text-align: center;
    p {
      margin-top: 50px;
      overflow: hidden;
    }
  }
  &__content {
    max-width: 540px;
    width: 100%;
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .accounts {
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 20px;
    h2 {
      img {
        top: -33px;
      }
    }
    &__heading {
      margin-bottom: 40px;
    }

    .swiper {
      width: 180px;
    }
  }
}