.heading {
  position: relative;
  min-height: calc(100vh - 60px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &__inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;

    h1 {
      display: block;
      position: relative;
      z-index: 2;
      max-width: 800px;
      width: 100%;
      margin: 0 auto;
      padding: 85px 0;
      text-align: center;
      font-size: 48px;
      font-weight: 400;
      background-image: url("public/gradient-bg.png");
      background-size: 100% 660px;
      background-position: center 47%;
      animation: appearance-top 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
      .reveal-title {
        overflow: hidden;
        animation: appearance-top 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
      }
      &::before, &::after {
        content: url("public/bracket.svg");
        position: absolute;
        width: 12px;
        top: 90px;
      }
      &::before {
        left: -2px;

      }
      &::after {
        transform: scaleX(-1);
        right: -2px;

      }
    }
    .increase {
      position: absolute;
      z-index: 1;
      line-height: 1.55;
      font-size: 54px;
      font-weight: 600;
      opacity: 0.44;
      color: transparent;
      -webkit-text-stroke: 1px #666666;

      @media (min-width: 768px) {
        white-space: nowrap;
      }
    }
  }
  p {
    margin-top: 30px;
    overflow: hidden;
    animation: appearance-top 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  }

  &__nav {
    max-width: 245px;
    margin-top: 20px;
    overflow: hidden;
    &-list {
      justify-content: space-around;
      animation: appearance-top 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
    }
  }
}

@media screen and (max-width: 767px) {
  .heading {
    &__inner {
      h1 {
        max-width: 265px;
        font-size: 30px;
        line-height: 27px;
        background-size: 100% 240px;
        letter-spacing: 1px;
        &::before, &::after {
          width: 9px;
          height: 48px;
          top: 88px;
        }
        &::before {
          left: -12px;
        }
        &::after {
          right: -12px;
        }
      }

      .increase {
        line-height: 1;
        font-size: 36px;
        text-align: center;
      }
    }
    p {
      font-size: 18px;
      line-height: 20px;
      color: transparent;
      -webkit-text-stroke: 1px #cccccc;
    }
    &__nav {
      max-width: 160px;
    }
  }
}