.services {
  padding-top: 80px;
  margin-bottom: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__heading {
    max-width: 480px;
    width: 100%;
    text-align: center;
    img {
      top: -5px;
    }
  }
  &__title {
    padding: 40px 0;
  }
  &__caption {
    margin-bottom: 60px;
    overflow: hidden;
  }
  &__content {
    max-width: 540px;
    width: 100%;
    height: 400px;
    position: relative;

  }
  &__link {
    font-size: 16px;
    padding: 2px 6px;
    background-color: #1a1a1a;
  }
}

@media screen and (max-width: 767px) {
  .services {
    position: relative;
    height: 730px;
    margin-bottom: 0;
    flex-direction: column;
    justify-content: flex-start;
    &__heading {
      img {
        top: 5px;
      }
    }
    &__content {
      position: absolute;
      bottom: 125px;
      height: 430px;
    }
    &__caption  {
      margin-bottom: 560px;
    }
  }
}