.services {
  padding-top: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__heading {
    max-width: 480px;
    width: 100%;
    text-align: center;
    img {
      top: -5px;
    }
  }
  &__title {
    padding: 40px 0;
  }
  &__caption {
    margin-bottom: 60px;
    overflow: hidden;
    span {
      overflow: hidden;
      &._show {
        animation: appearance-top 2s 1 both;
        animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
        animation-delay: 0.5s;
      }
    }
  }
  &__content {
    max-width: 540px;
    width: 100%;
    height: 400px;
    position: relative;

    .pw {
      position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    width: 100% !important;
    height: 300% !important;
    border: none;
    overflow: hidden !important;
    }
  }
  &__link {
    font-size: 16px;
    padding: 2px 6px;
    background-color: #1a1a1a;
  }
}

@media screen and (max-width: 767px) {
  .services {
    flex-direction: column;
    justify-content: flex-start;
    &__heading {
      img {
        top: 5px;
      }
    }
  }
}