.slider {
  perspective: 200px;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  overflow: hidden;
  height: 646px;
}
.slider__wrapper {
  perspective: 4000px;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  overflow: visible;
}
.slider__artboard {
  perspective: 4000px;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  overflow: visible;
  transition: all 0.2s ease;
  height: 740px;
  position: relative;
  width: 100%;
}
.slider__item {
  position: absolute;
  perspective: 4000px;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  overflow: visible;
  transition: all 0.2s ease;
  width: 447px;
  left: 0.5px;
  top: 47px;
  height: 646px;
  display: table;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
.slider {
  width: 100%;
  top: 0px;
  left: 0px !important;
  position: absolute;
  z-index: 10;
}
.slier_nav {
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: 11;
}
.arrowleft:hover, .arrowright:hover {
  cursor: pointer;
}