.swiper {
  @media (max-width: 767px) {
    width: 240px;
  }
  
  @media (min-width: 768px) {
    width: 300px;
  }

  &-slide {
    overflow:visible;

    img {
      width: 100%;
      transform: rotateX(14deg);
      transition: 300ms ease-in-out;
      transform-origin: center;
    }
  }
}

.slider {
  &__nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    @media (max-width: 767px) {
      display: none;
    }

    & > div {
      transform: translateY(-50%);
      transition: 200ms ease-in-out;
      cursor: pointer;

      &:hover {
        opacity: .6;
      }
    }
  }

  &__prev {
    position: absolute;
    top: 50%;
    left: 36px;
  }

  &__next {
    position: absolute;
    top: 50%;
    right: 36px;
  }

  &__brecket {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 19px;

    @media (max-width: 767px) {
      width: 15px;
    }

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
      transform: translateY(-50%) scaleX(-1);
    }
  }
}